{% extends "registration/logged_out.html" %}

{% load i18n unfold %}

{% block extrastyle %}
    {{ block.super }}
    {% if user_palette_css %}
    <style id="user-palette">
        {{ user_palette_css|safe }}
    </style>
    {% endif %}
{% endblock %}

{% block content %}
    <div id="page" class="bg-white flex min-h-screen dark:bg-base-900 ">
        <div class="flex grow items-center justify-center mx-auto px-4">
            <div class="w-full sm:w-96">
                <h1 class="font-semibold mb-4 text-font-important-light text-xl tracking-tight dark:text-font-important-dark">
                    {% trans "You have been successfully logged out from the administration" %}
                </h1>

                <p class="leading-relaxed mb-10">
                    {% trans "Thanks for spending some quality time with the web site today." %}
                </p>

                {% url "admin:index" as fallback_url %}
                {% url "admin:login" as login_page %}
                {% if current_brand_slug %}
                    {% with branded_url=login_page|add:"?brand="|add:current_brand_slug %}
                        {% component "unfold/components/button.html" with href=branded_url variant="primary" class="w-full" %}
                            {% trans "Log in again" %} <span class="material-symbols-outlined relative right-0 transition-all group-hover:-right-1 text-sm">arrow_forward</span>
                        {% endcomponent %}
                    {% endwith %}
                {% else %}
                    {% component "unfold/components/button.html" with href=fallback_url variant="primary" class="w-full" %}
                        {% trans "Log in again" %} <span class="material-symbols-outlined relative right-0 transition-all group-hover:-right-1 text-sm">arrow_forward</span>
                    {% endcomponent %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
